* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit {
  color: grey;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col.col-side {
  display: flex;
  flex-direction: column;
  width: 38%;
  border: 2px solid #000000;
}

.col.col-main {
  width: 62%;
  border: 2px solid #000000;
}

.stack {
  flex-direction: column !important;
}

.r-align {
  justify-content: flex-end;
}
