.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  width: calc(100% - 4rem);
  margin-left: 4rem;
  border-right: 1px solid #000000;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid #000000;
  width: 100%;
  font-weight: 500;
}

.skills .container {
  width: calc(100% - 2rem);
}

.skill-display {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
  position: relative;
  width: calc(100% - 2rem);
  align-items: flex-start;
  padding-bottom: calc(1rem + 31px);
}

.skill-display .skill {
  width: calc(100% - 0rem);
  margin: 0.25rem 0;
}

.skill-display .skill .skill-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.skill-display .skill .skill-title h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.skill-display .skill .rating {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  list-style: none;
}

.skill-display .skill .rating .bubble {
  font-size: 0.62rem;
  margin-right: 0.5rem;
}

.skill-display .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.skills-empty {
  width: calc(100% - 2rem);
}

.skill-add {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: calc(100% - 0rem);
  padding: 0.5rem 0 calc(0.5rem + 31px);
}

.skill-add h3 {
  margin-bottom: 0.25rem;
}

.skill-add .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-control {
  width: 100%;
}

.form-control label {
  margin-right: 0.25rem;
}

.form-control input[type='range'] {
  width: 100%;
  margin: 0.25rem 0 0.75rem;
}
